.site-header {
  border-bottom: 6px solid skyblue;
}

.container {
  max-width: 962px;
}

a {
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.sourceCode {
  display: block;
  padding: 0.2rem;
  background-color: #eeeeee;
  border-radius: 4px;
}
